### **1 of 8: OBTAIN USER'S INPUT**

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Examples of user inputs: 

1. Stockholders invest 15,000 dollars in the company.

2. A receipt of 800 dollars of cash on account.

3. Paid 600 in rent to the property owner.

In [1]:
import re, sqlite3, pandas
from datetime import date

complex_combinations = [
    ["investment", "investments", "contributes", "contributed", "invests", "invest",
     "stockholders", "stockholder", "shareholders", "shareholder", 
     "owner", "issued", "stock", "stocks", "common", "cash", "money", "capital", ],           
    ["cash", "purchase", "purchased", "equipment", "equipments", "money", "capital"],                     
    ["purchase", "purchased", "on", "credit", "equipment", "equipments", "account", 
     "accounts",  "payable", "AP" , "outstanding"],                     
    ["consulting", "services", "service", "perform", "performed", "cash", "revenue", 
     "income", "money", "capital", "sales", "trades", ],                     
    ["purchase", "purchased", "advertising", "advertising","advertising","advertised", 
     "advertise", "account", "accounts",  "payable", 
     "lost", "expenditure", "expense", "expenses",  "credit", "on", "AP", "outstanding"],                     
    ["services", "service", "performed", "perform", "on", "credit", "revenue", "income", 
     "account", "accounts",  "receivable", "obtain", "receive", 
     "received", "AR" ],                    
    ["salary", "salaries", "worker", "workers", "utility", "property", "electric", 
     "electricity", "web", "hosting", "electrical", "bill",  
     "utilities", "rent", "lost", "cash", 
     "expenditure", "expense", "expenses", "payment", "payments", "paying", ],                    
    ["payment", "payments",  "account", "accounts",  "payable", "AP", "supplier", 
     "vendor" , "outstanding"],                     
    ["receipt", "cash", "account", "on", "money", "capital", "accounts",  "receivable", 
     "obtain", "receive", "received", "from", "AR"],                    
    ["dividends", "dividend", "stockholders", "stockholder", "shareholder", 
     "shareholders","declared", "owner"]
    ]

number_of_placeholders = 0
for combination in complex_combinations:
    number_of_placeholders = number_of_placeholders + 1

number = 0.0
sentence = input("INPUT A SINGLE BUSINESS TRANSACTION & ITS MONETARY AMOUNT")
number = re.findall(r"\d+\.?\d*", sentence)  

statement1 = "Please enter the needed financial amount"
money_amount = 0

try:
    money_amount = float("".join(i for i in number))
    statement1 = "Financial Transaction involves " + str(money_amount) + " dollars"
except ValueError:
    statement1 = "Please enter the needed financial transaction amount."
    

print()
print("Your input statement is:", (sentence if (sentence != "")  else "NONE"))
print()
print(statement1)

Your input statement is: Paid electricity bill of $300 by cash.

Financial Transaction involves 300.0 dollars

### **2 of 8: INTEGRITY OF INPUT**

In [2]:
characters = re.sub(r"[^a-zA-Z\s]", "", sentence)

words_from_characters = []
word_formed = ""
for each_character in characters:
    if each_character.isupper():
        each_character = each_character.lower()
    if each_character == " ":
        words_from_characters.append(word_formed)
        word_formed = ""
    else:
        word_formed += each_character

if word_formed != "" or word_formed != " ":    
    words_from_characters.append(word_formed)

final_words = []
for word in words_from_characters:
    if word != "":
        final_words.append(word)

finalList = []
finalList.extend([0] * number_of_placeholders)
finalNumber = 0
final_index = -1

for single_combination in complex_combinations:
    finalNumber = 0
    final_index = final_index + 1
    for each_word in single_combination:
        for each_final_word in final_words:
            if each_final_word == each_word:
                finalNumber = finalNumber + 1
    finalList[final_index] = finalNumber
maximum_number = max(finalList)

statement2 = "No proper business transaction could be made."
if maximum_number == 0:
    statement2 = "No Proper business transaction could be made."
else:
    statement2 = "Your Business Transaction has been processed"


print()
print(statement2)

Your Business Transaction has been processed

### **3 of 8: AFFECTED ACCOUNTS**

In [3]:
final_cases = [
                [['cash', money_amount],['common_stock', money_amount]],
                [['cash', -money_amount],['equipment', money_amount]],
                [['equipment', money_amount],['account_payable', money_amount]],
                [['cash', money_amount],['revenue', money_amount]],
                [['account_payable', money_amount],['expense', -money_amount]],
                [['account_receivable', money_amount],['revenue', money_amount]],
                [['cash', -money_amount],['expense', -money_amount]],
                [['cash', -money_amount],['account_payable', -money_amount]],
                [['cash', money_amount],['account_receivable', -money_amount]],
                [['cash', -money_amount],['dividend', -money_amount]]
            ]

multiple_cases = 0
for count_of_numbers in finalList:
    if count_of_numbers == maximum_number:
        multiple_cases = multiple_cases + 1

if multiple_cases > 1 and money_amount > 0:
    statement3 = "Multiple answers are possible. Be more descriptive. Try again."
elif multiple_cases == 1 and money_amount > 0:
    statement3 = "There a possible answer for your input. Scroll below to read"
else:
    statement3 = "No answer is possible for your statement."

print()
print(statement3)

There a possible answer for your input. Scroll below to read

### **4 of 8: JOURNAL ENTRY**

In [4]:
statement_list = []
final_case_index = -1
if (statement3 != "No answer is possible for your statement." 
    and statement3 != "Multiple answers are possible. Be more descriptive. Try again."):
    for each_final_case in finalList:
        final_case_index = final_case_index + 1
        if each_final_case == maximum_number and money_amount != 0:
            statement_list.append(str(final_cases[final_case_index][0][0]))
            statement_list.append(float(final_cases[final_case_index][0][1]))
            statement_list.append(str(final_cases[final_case_index][1][0]))
            statement_list.append(float(final_cases[final_case_index][1][1]))
else: 
    statement_list.append("NONE")
    statement_list.append(0)
    statement_list.append("NONE")
    statement_list.append(0)
   

print()
print("===================")
print("DATE: ", str(date.today()), "â†“")
print("==================================================================")
print(statement_list[2].upper(), "Account", "            ", "$" + str(abs(statement_list[3])))
print("     ", statement_list[0].upper(), "Account", "                 ", "$" + str(abs(statement_list[1])))
print("-----------------------------------------------------------------------------------------")
print((sentence if (sentence != "")  else "DESCRIPTION: NON-GIVEN"))
print("=========================================================================================")

===================
DATE:  2025-07-20 â†“
==================================================================
EXPENSE Account              $300.0
      CASH Account                   $300.0
-----------------------------------------------------------------------------------------
Paid electricity bill of $300 by cash.
=========================================================================================

### **5 of 8: FORM DATABASE**

In [ ]:
# Refered to: https://docs.python.org/3/library/sqlite3.html
cx = sqlite3.connect("business_transactions.db")

cu = cx.cursor()
cu.execute("""
CREATE TABLE IF NOT EXISTS business_transactions (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                user_input TEXT,
                cash REAL,
                account_receivable REAL,
                equipment REAL,
                account_payable REAL,
                common_stock REAL,
                revenue REAL,
                expense REAL,
                dividend REAL
                );
                """)

cx.commit()  


# ###########################
# # SAMPLE RECORD INSERTION
# initial_transactions = [
# ("Investment of cash by stockholders", 16000, 0, 0, 0, 16000, 0, 0, 0),
# ("Purchased equipment by cash", -5000, 0, 5000, 0, 0, 0, 0, 0),
# ("Services performed by cash", 1200, 0, 0, 0, 0, 1200, 0, 0),
# ("Payment of salary to workers", -1700, 0, 0, 0, 0, 0, -1700, 0)    
# ]
# cu.executemany("""
#                 INSERT 
#                 INTO business_transactions (user_input, cash, account_receivable, 
#                                             equipment, account_payable, common_stock, 
#                                             revenue, expense, dividend)
#                 VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
#                 """, initial_transactions) 
# cx.commit()
# ###########################


#############################
# # SAMPLE RECORD DELETION
# cu.execute("""
#                DELETE
#                FROM  business_transactions; 
#                 """) 
# cx.commit()
#############################

print()

### **6 of 8: INSERT SQL QUERY INTO DATABASE**

In [6]:
query_statement = ""

if (statement_list[0] != "NONE" 
    and statement_list[1] != 0 
    and statement_list[2] != "NONE" 
    and statement_list[3] != 0): 
    match (statement_list[0], statement_list[2]):
        case ('cash','common_stock'):
            query_statement = [sentence, statement_list[1], 0, 0, 0, statement_list[3], 0, 0, 0]
        case ('cash','equipment'):
            query_statement = [sentence, statement_list[1], 0, statement_list[3], 0, 0, 0, 0, 0]
        case ('equipment', 'account_payable'):
            query_statement = [sentence, 0, 0, statement_list[1], statement_list[3], 0, 0, 0, 0]
        case ('cash','revenue'):
            query_statement = [sentence, statement_list[1], 0, 0, 0, 0, statement_list[3], 0, 0]
        case ('account_payable','expense'):
            query_statement = [sentence, 0, 0, 0, statement_list[1], 0, 0, statement_list[3], 0]
        case ('account_receivable','revenue'):
            query_statement = [sentence, 0, statement_list[1], 0, 0, 0, statement_list[3], 0, 0]
        case ('cash', 'expense'):
            query_statement = [sentence, statement_list[1], 0, 0, 0, 0, 0, statement_list[3], 0]
        case ('cash','account_payable'):
            query_statement = [sentence, statement_list[1], 0, 0, statement_list[3], 0, 0, 0, 0]
        case ('cash', 'account_receivable'):
            query_statement = [sentence, statement_list[1], statement_list[3], 0, 0, 0, 0, 0, 0]
        case ('cash', 'dividend'): 
            query_statement = [sentence, statement_list[1], 0, 0, 0, 0, 0, 0, statement_list[3]]
    cu.execute("""
                INSERT
                INTO business_transactions (user_input, cash, account_receivable, equipment, 
                                            account_payable, common_stock, revenue, expense, 
                                            dividend)
                VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
                """, query_statement)
    cx.commit()
    print()
    print("The transaction has been inserted into the database. Scroll down to view")
else:
    print()
    print("The transaction has not been inserted. The pragram has finished its execution")

The transaction has been inserted into the database. Scroll down to view

### **7 of 8: CONNECT SQL & PYTHON**

In [7]:
cu.execute("""SELECT 
               SUM(revenue),
               SUM(expense),
               SUM(expense + revenue), 
               SUM(dividend),
               SUM(0 + expense + revenue + dividend),
               SUM(cash), 
               SUM(account_receivable),
               SUM(equipment), 
               SUM(cash + account_receivable + equipment),
               SUM(account_payable),
               SUM(common_stock),
               SUM(common_stock + expense + revenue + dividend),
               SUM(account_payable + common_stock + expense + revenue + dividend)
               FROM business_transactions;            
               """)

cx.commit()

bt = cu.fetchall()[0]

bt_revenue = bt[0]
bt_expense = bt[1]
bt_net_income = bt[2]
bt_dividend = bt[3]
bt_retained_earnings = bt[4]
bt_cash = bt[5]
bt_accounts_receivable = bt[6]
bt_equipment = bt[7]
bt_assets = bt[8]
bt_account_payable = bt[9]
bt_common_stock = bt[10]
bt_SE = bt[11]
bt_liabilities_and_stockholder = bt[12]

company_name = "AHIN Constructions"
type_of_statement = ["Income Statement", "Retained Earnings", "Balance Sheet"]
date_phrase = "For the Date Ended " + str(date.today())

print()

### **8 of 8: FINANCIAL STATEMENTS & ANALYSIS**

#### **INCOME STATEMENT**

In [8]:
print("=========================================================================================")
print("                                   ",company_name)
print("                                   ", type_of_statement[0])
print("                             ", date_phrase)
print("=========================================================================================")
print("")
print("                               Total Revenue:", f"{bt_revenue:>10.3f}")   
print("                               Total Expense:", f"{bt_expense:>10.3f}")
print("                              ---------------")
print("                                  Net Income:", f"{bt_net_income:>10.3f}")
print()
print("=========================================================================================")
print()

=========================================================================================
                                    AHIN Constructions
                                    Income Statement
                              For the Date Ended 2025-07-20
=========================================================================================

                               Total Revenue:   1200.000
                               Total Expense:  -2000.000
                              ---------------
                                  Net Income:   -800.000

=========================================================================================

#### **RETAINED EARNINGS STATEMENT**

In [9]:
print("=========================================================================================")
print("                                   ",company_name,"                             ")
print("                                   ", type_of_statement[1], "                          ")
print("                             ", date_phrase,"                                   ")
print("=========================================================================================")
print("")
print("               Retained Earnings, Previous Month:", f"{0.0:>10.2f}")
print("                                 Add: Net Income:", f"{bt_net_income:>10.2f}")
print("                                 ----------------")
print("                                  Less: Dividend:", f"{bt_dividend:>10.2f}")
print("                                  ---------------")
print("                   Retained Earnings, upto today:", f"{bt_retained_earnings:>10.2f}")
print()
print("=========================================================================================")
print()

=========================================================================================
                                    AHIN Constructions
                                    Retained Earnings
                              For the Date Ended 2025-07-20
=========================================================================================

               Retained Earnings, Previous Month:       0.00
                                 Add: Net Income:    -800.00
                                 ----------------
                                  Less: Dividend:       0.00
                                  ---------------
                   Retained Earnings, upto today:    -800.00

=========================================================================================

#### **BALANCE SHEET STATEMENT**

In [10]:
print("=========================================================================================")
print("                                   ",company_name,"                             ")
print("                                   ", type_of_statement[2], "                          ")
print("                             ", date_phrase,"                                   ")
print("=========================================================================================")
print("")
print("                                         ASSESTS")           
print("                                           Cash:", f"{bt_cash:>10.2f}")
print("                            Accounts_Receivable:", f"{bt_accounts_receivable:>10.2f}")
print("                                      Equipment:", f"{bt_equipment:>10.2f}")
print("                                   TOTAL ASSETS:", f"{bt_assets:>10.2f}")
print("                                ----------------")
print("                                     LIABILITIES")
print("                                Account Payable:", f"{bt_account_payable:>10.2f}")
print("                                ----------------")
print("                            STOCKHOLDER'S EQUITY")
print("                                   Common Stock:", f"{bt_common_stock:>10.2f}")
print("                              Retained Earnings:", f"{bt_retained_earnings:>10.2f}")
print("                                ----------------")
print("             LIABILITIES & STOCKHOLDER'S EQUITY:", f"{bt_liabilities_and_stockholder:>10.2f}")
print()
print("=========================================================================================")
print()

=========================================================================================
                                    AHIN Constructions
                                    Balance Sheet
                              For the Date Ended 2025-07-20
=========================================================================================

                                         ASSESTS
                                           Cash:   10200.00
                            Accounts_Receivable:       0.00
                                      Equipment:    5000.00
                                   TOTAL ASSETS:   15200.00
                                ----------------
                                     LIABILITIES
                                Account Payable:       0.00
                                ----------------
                            STOCKHOLDER'S EQUITY
                                   Common Stock:   16000.00
                              Retained Earnings:    -800.00
                                ----------------
             LIABILITIES & STOCKHOLDER'S EQUITY:   15200.00

=========================================================================================

#### **ACCOUNTING EQUATION**

In [11]:
print()
if (bt_assets == bt_liabilities_and_stockholder 
    and bt_assets != None and bt_liabilities_and_stockholder != None):
    print("Accounting equation IS equal! Asset is" , 
          bt_assets, "dollars. Liabilities and SE is also", 
          bt_liabilities_and_stockholder, "dollars.")
elif (bt_assets != bt_liabilities_and_stockholder 
      and bt_assets != None 
      and bt_liabilities_and_stockholder != None):
    print("Accounting equation IS NOT equal! Asset is" , 
          bt_assets, "dollars, but Liabilities and SE is", 
          bt_liabilities_and_stockholder, "dollars.")
else:
    print("Please recheck the business transaction statement.")

Accounting equation IS equal! Asset is 15200.0 dollars. Liabilities and SE is also 15200.0 dollars.

#### **DISPLAY TABLE**

In [12]:
# refered to official pandas documentation page: 
# https://pandas.pydata.org/docs/dev/reference/api/pandas.set_option.html#pandas.set_option
pandas.set_option('display.max_rows', None)
pandas.set_option('display.max_columns', None)

# refered to official pandas documentation page: 
# https://pandas.pydata.org/docs/dev/reference/api/pandas.read_sql.html#pandas.read_sql
df = pandas.read_sql("SELECT * FROM business_transactions", cx)
display(df)

cx.close()

,id,user_input,cash,account_receivable,equipment,account_payable,common_stock,revenue,expense,dividend
0,1,Investment of cash by stockholders,16000.0,0.0,0.0,0.0,16000.0,0.0,0.0,0.0
1,2,Purchased equipment by cash,-5000.0,0.0,5000.0,0.0,0.0,0.0,0.0,0.0
2,3,Services performed by cash,1200.0,0.0,0.0,0.0,0.0,1200.0,0.0,0.0
3,4,Payment of salary to workers,-1700.0,0.0,0.0,0.0,0.0,0.0,-1700.0,0.0
4,5,Paid electricity bill of $300 by cash.,-300.0,0.0,0.0,0.0,0.0,0.0,-300.0,0.0